<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>121E3BC81D1BD93F00AB6608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>121E3BDC1D1BD93F00AB6608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>121E3BE71D1BD93F00AB6608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
